/* * {
  margin: 0;
  padding: 0;
} */

/* h1 {
  text-align: center;
  background-color: black;
  color: white;
} */

table {
  width: 70%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

table,
th,
td {
  border: 2px solid dimgrey;

}

th{
  text-align: left;
  font-size: 15px;
  background-color: #838993;
  color: white;
  background-image: linear-gradient(dimgray,gray,838993);
}

th,td{
  padding: 10px;
}

tr:nth-child(even){
  background-color: #fff;
}

tr:nth-child(odd){
  background-color: #eee;
}
input{
  padding: 15px;
  width: 344px;
  margin-top: 10px;
  font-size: 18px;
  outline: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
